#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.header .logo a {
  display: flex;
  align-items: center;
  color: #333;
}
.logo h2 {
  font-size: 20px;
  margin: 0;
}
.header .wallet {
  display: 'flex';
  justify-content: 'flex-end';
  padding: 12
}

.main {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; */
  margin: 40px auto;
}

.main .item {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 800px;
  margin: 20px auto;
}

.main .item span em {
  color: red;
  font-size: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.error {
  color: red;
  font-size: 14px;
}